{% extends "base.html" %}
{% block title %}About | Zoha Seher{% endblock %}
{% block content %}
    <h1>About Me</h1>
    <p>Hi, I'm Zoha Seher, a Software Engineering student with a growing passion for building clean, functional web applications and exploring the world of Artificial Intelligence.I enjoy turning ideas into working products — from backend logic and API integrations to polished, responsive interfaces.</p>
<p>Alongside my studies, I'm working with Arbab Labs, where I get to apply what I learn to real projects and grow as a developer. My interests span both traditional software engineering and AI, and I'm always looking for ways to combine the two in meaningful, practical ways.</p>
    <p> I'm currently open to opportunities where I can keep learning, contribute to real-world products, and push myself further as a developer.</p>
{% endblock %}